[Unit]
Description=MQTT controlled IO client
After=network.target

[Service]
User=Gerald
Type=simple
WorkingDirectory=/home/Gerald/python-mqtt-node-rpi/
ExecStart=python3 mqtt_rel.py
StandardError=journal
Restart=always

[Install]
WantedBy=multi-user.target
